<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>676102874019-mgp33h2o0b9j2p9je31fnf9sdl1m7jnh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.676102874019-mgp33h2o0b9j2p9je31fnf9sdl1m7jnh</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>676102874019-is13npj1a971vjndssn7rrp454p293r4.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyD5q2szXPWu1PO12UCA-EzBy_EuMJBKIBU</string>
	<key>GCM_SENDER_ID</key>
	<string>676102874019</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.ecommerce</string>
	<key>PROJECT_ID</key>
	<string>e-commercev2-f6c36</string>
	<key>STORAGE_BUCKET</key>
	<string>e-commercev2-f6c36.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:676102874019:ios:4830ee821ec6f0e87f7016</string>
</dict>
</plist>